.mainConainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    box-sizing: border-box;
}
.dashboardConainer{
width: 20%;
min-width: 189.5px;
height: 100vh;
}
.linksConainer{
    width: 80%;
}
.header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.header div{
    padding: 10px;
}
.active{
    background-color: rgb(190, 238, 238);
}
a{
    text-transform: capitalize;
    text-decoration: none;
}